<div
    class="pagination-wrapper-card d-flex flex-column flex-sm-row justify-content-between align-items-center gap-3 shadow-sm w-100">
    <div class="pagination-meta-text ps-sm-2">
        Showing
        <strong class="text-dark">
            {{ (paginationMetaData!.CurrentPage - 1) * paginationMetaData!.PageSize + 1 }}-{{
            Math.min(paginationMetaData!.CurrentPage *
            paginationMetaData!.PageSize,
            paginationMetaData!.TotalCount) }}
        </strong>
        of
        <strong class="text-dark">{{ paginationMetaData!.TotalCount }}</strong> products
    </div>

    <nav aria-label="Catalog pages navigation index" class="pe-sm-2">
        <ul class="pagination pagination-custom m-0">

            <li class="page-item" [class.disabled]="!paginationMetaData!.HasPrevious">
                <button class="page-link" (click)="onPageChange(paginationMetaData!.CurrentPage - 1)"
                    [disabled]="!paginationMetaData!.HasPrevious" aria-label="Previous">
                    <span>&laquo;</span>
                </button>
            </li>

            @for (page of getVisiblePages(); track page) {
            @if (page === -1) {
            <li class="page-item disabled d-none d-sm-inline-block">
                <span class="page-link">...</span>
            </li>
            } @else {
            <li class="page-item" [class.active]="page === paginationMetaData!.CurrentPage">
                <button class="page-link" (click)="onPageChange(page)">
                    {{ page }}
                </button>
            </li>
            }
            }

            <li class="page-item" [class.disabled]="!paginationMetaData!.HasNext">
                <button class="page-link" (click)="onPageChange(paginationMetaData!.CurrentPage + 1)"
                    [disabled]="!paginationMetaData!.HasNext" aria-label="Next">
                    <span>&raquo;</span>
                </button>
            </li>

        </ul>
    </nav>

</div>