@if (session.user()?.storeId !== '00000000-0000-0000-0000-000000000000') {
@if (session.user()?.isActive === 'True') {
<div class="d-flex min-vh-100">
    <app-seller-sidebar></app-seller-sidebar>

    <div class="flex-grow-1 d-flex flex-column" style="margin-left: 260px;">

        <app-seller-navbar></app-seller-navbar>

        <main class="flex-grow-1 overflow-y-auto">
            <router-outlet></router-outlet>
        </main>

    </div>
</div>
}
@else {
<app-inactive-seller></app-inactive-seller>
}
} @else {
<app-navbar class="app-header-container"></app-navbar>

<div class="app-body-container">

    <app-sidebar class="fixed-vertical-sidebar"></app-sidebar>

    <main class="main-scrolling-content">

        <router-outlet></router-outlet>
    </main>

</div>
}